.vscode
venv
.git
# playing with jupyter notebooks and python
.ipynb_checkpoints
__pycache__
build
# Test files & Reprozib 
test
*.rpz
.reprozip-trace
output
a.out
output.bin
dummy-data.bin
dummy-queries.bin
# Contest data 
contest*.bin

play.ipynb